@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,html {
 width: 100% !important;
}

.btn{
font-weight: bold;
background-color: #F1F5F9;
padding:1.5rem 2rem;
border-radius: 10px;
transition:.3s
}

.btn:hover{
background-color: #d0d3d7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
